---
layout: home
permalink: /
title: Sven Dahlstrand
---

<header>
  <img src="/images/sven.png" alt="" width="70" height="88" />
  <h1>Hello! I'm Sven Dahlstrand.</h1>
  <p>As a kid I started talking to computers, telling them what to do. I never stopped.</p>
</header>

<section>
  <h2>Cherry picked projects</h2>
  <p>I love tinkering and creating gizmos using my soldering iron and keyboard.</p>
  <ul class="highlights">
    {% for project in site.tags.project %}
      {% if project.highlight_icon.size > 0 %}
        <li lang="{{ project.language }}"><a href="{{ project.url }}"><img src="/images/{{ project.highlight_icon}}.png" alt="" width="40" height="40" /> {{ project.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/projects/" class="action-link">Discover my projects</a>
</section>

<section class="spelkosmos">
  <h2>Sanna + me + video games = <img src="/images/hjarta.png" width="40" height="40" alt="love" /></h2>
  <p>My best friend Sanna and I run Spelkosmos together: a peppy podcast about video games. Are you a newbie or a nerd? It doesn't matter - it's for everyone!</p>
  <a href="https://spelkosmos.se/" class="action-link">Listen to Spelkosmos (in Swedish)</a>
</section>

<section>
  <h2>Selected writing</h2>
  <p>Sometimes I take my ideas, write them down and share them with you.</p>
  <ul class="highlights">
    {% for post in site.posts %}
      {% unless post.highlight_icon.size == null or post.tags contains 'project' %}
        <li lang="{{ post.language }}"><a href="{{ post.url }}"><img src="/images/{{ post.highlight_icon}}.png" alt="" width="40" height="40" /> {{ post.title | split: ',' | first }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
  <a href="/writing/" class="action-link">Thumb through my writing</a>
</section>
