---
layout: default
permalink: /
title: Sven Dahlstrand
en: /en/
---
{% assign projects = site.tags.project | where:"language",page.language %}
{% assign posts = site.posts | where:"language",page.language %}

<header>
  <img src="/images/sven.png" alt="" width="70" height="88" />
  <h1>Hej! Jag heter Sven<span class="extra-copy"> Dahlstrand</span>.</h1>
  <p>Som åttaåring började jag tala om för datorer och maskiner vad de skulle göra. Det gör jag fortfarande.</p>
</header>

<section>
  <h2>Handplockade projekt</h2>
  <p>Jag skapar manicker och mojönger med hjälp av lödkolven och tangentbordet.</p>
  <ul class="highlights">
    {% for project in projects %}
      {% if project.highlight_icon.size > 0 %}
        <li><a href="{{ project.url }}"><img src="/images/{{ project.highlight_icon}}.png" alt="" width="40" height="40" /> {{ project.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/projekt" class="action-link">Utforska fler projekt</a>
</section>

<section class="spelkosmos">
  <h2>Sanna + jag + tv-spel = <img src="/images/hjarta.png" width="40" height="40" alt="kärlek" /></h2>
  <p>Min bästa kompis Sanna och jag driver Spelkosmos tillsammans: en peppig podcast om tv- och datorspel. Är du nybörjare eller nörd? Spelar ingen roll - alla är välkomna att lyssna!</p>
  <a href="https://spelkosmos.se/" class="action-link">Lyssna på Spelkosmos</a>
</section>

<section>
  <h2>Utvalda skriverier</h2>
  <p>Ibland sätter jag mina tankar på pränt och delar dem med dig.</p>
  <ul class="highlights">
    {% for post in posts %}
      {% unless post.highlight_icon.size == null or post.tags contains 'project' %}
        <li><a href="{{ post.url }}"><img src="/images/{{ post.highlight_icon}}.png" alt="" width="40" height="40" /> {{ post.title | split: ',' | first }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
  <a href="/skriverier" class="action-link">Bläddra bland skriverier</a>
</section>

<section class="limepark">
  <h2>Jag bygger webb på Limepark</h2>
  <p>Jag har förmånen att få jobba med en av mina hobbies. Tillsammans med resten av gänget på Limepark bygger jag webb i Sveriges mest omtyckta CMS: SiteVision.</p>
  <a href="https://limepark.se/limepark.html" class="action-link">Lär dig mer om Limepark</a>
</section>

<script>
  (function () {
    var attentionSeekers = Array.prototype.slice.call(document.querySelectorAll('.highlights img, .spelkosmos img'));

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    function isElementInViewport (el) {
      var rect = el.getBoundingClientRect();

      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function bringAttentionToRandomSeeker() {
      var visibleAttentionSeekers = attentionSeekers.filter(isElementInViewport);

      if (visibleAttentionSeekers.length === 0) {
        delayedAttentionToRandomSeeker();
        return;
      }

      var randomIndex = getRandomInt(0, visibleAttentionSeekers.length);
      var randomAttentionSeeker = visibleAttentionSeekers[randomIndex];

      randomAttentionSeeker.classList.add('attention-seeker');
      randomAttentionSeeker.addEventListener('animationend', animationEnded);
    }

    function delayedAttentionToRandomSeeker() {
      window.setTimeout(bringAttentionToRandomSeeker, getRandomInt(3, 7) * 1000);
    }

    function animationEnded() {
      this.classList.remove('attention-seeker');
      delayedAttentionToRandomSeeker();
    }

    delayedAttentionToRandomSeeker();
  }());
</script>
