---
layout: default
permalink: /skriverier/
title: Skriverier
en: /en/writing/
---
{% assign posts = site.posts | where:"language",page.language %}

<article>
  <h1>{{ page.title }}</h1>

  <ul class="archive">
    {% for post in posts %}
      {% unless post.tags contains 'project' or post.tags contains 'archived'  %}
        <li>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.summary }}</p>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <h2>Arkivet</h2>
  <p>I världen bland ettor och nollor där utvecklingen går snabbt åldras inte alla skriverier med värdighet. När jag tycker något känns mossigt hamnar det i arkivet.</p>

  <ul class="archive">
    {% for post in posts %}
      {% if post.tags contains 'archived' %}
        <li>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.summary }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>
