---
layout: default
title: Writing
sitemap: false
permalink: /writing/
---

<article>
  <h1>{{ page.title }}</h1>

  <ul class="archive">
    {% for post in site.posts %}
      {% unless post.tags contains 'project' or post.tags contains 'archived'  %}
        <li lang="{{ post.language }}">
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% include flag.html language=post.language %}
          </h2>
          <p>{{ post.summary }}</p>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <h2>The archive</h2>
  <p>Beware of the old and dated writings down below.</p>

  <ul class="archive">
    {% for post in site.posts %}
      {% if post.tags contains 'archived' %}
        <li lang="{{ post.language }}">
          <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% include flag.html language=post.language %}
          </h3>
          <p>{{ post.summary }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</article>
