---
layout: default
---

<header>
  <img src="/images/sven-gravatar.jpg" alt="" width="128" height="128" />
  <h1>Hej! Jag heter Sven Dahlstrand och är en problemlösare, utvecklare och föreläsare.</h1>
  <p>Jag älskar webben och att bygga saker som människor har nytta av. Jag gillar att lära mig nya saker och dela med mig av mina kunskaper.</p>
</header>
<section class="collection">
  <h2>Aktuella projekt</h2>
  <ul>
    {% for project in site.tags.project %}
      {% if forloop.first %}
        <li class="hero">
          <a href="{{ project.url }}">
            <img src="/images/hero.jpg" alt="" width="384" height="215" />
            <em>{{ project.title }}</em>
          </a>
          <br />{{ project.summary }}
        </li>
      {% else %}
        <li>
          <a href="{{ project.url }}"><em>{{ project.title }}</em></a> {{ project.summary }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section id="articles" class="collection">
  <h2>Artiklar och screencasts</h2>
  <ul>
    {% for post in site.posts %}
      {% unless post.tags contains 'project' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
</section>

<section class="collection">
  <h2>Senaste föreläsningar</h2>
  <ul>
    {% for talk in site.data.talks %}
      {% if forloop.first %}
        <li class="hero">
          <a href="{{ talk.url }}">
            <img src="/images/hero-talk.jpg" alt="" width="384" height="213" />
            <em>{{ talk.title }}</em>
          </a>
          <br />{{ talk.location }}
        </li>
      {% else %}
        <li>
          <a href="{{ talk.url }}"><em>{{ talk.title }}</em></a> {{ talk.location }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
