---
layout: default
---

<header>
  <img src="//2.gravatar.com/avatar/9219f7f372e5b1444155261c9fb14617?size=420" alt="" />
  <h1>Hej! Jag heter Sven Dahlstrand och är en problemlösare, utvecklare och föreläsare.</h1>
  <p>Jag älskar webben och att bygga saker som människor har nytta av. Jag gillar att lära mig nya saker och dela med mig av mina kunskaper.</p>
</header>
<section id="talks">
  <h2>Senaste föreläsningar</h2>
  <div class="video-wrapper"><iframe width="380" height="214" src="//www.youtube-nocookie.com/embed/MiVikzzxBKk?rel=0" allowfullscreen></iframe></div>
  <p><a href="http://www.sitevisiondagarna.se/vadhande2013/pass2013/smartalosningarisitevision.5.5d0f195113e5ac65ca6198.html"><em>Smarta lösningar i SiteVision</em></a><br />SiteVisiondagarna, Örebro</p>
  <ul>
    {% for talk in site.data.talks %}
      <li><a href="{{ talk.url }}"><em>{{ talk.title }}</em></a> {{ talk.location }}</li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2>Artiklar och screencasts</h2>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>
