body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* Typography */

h1, h2, h3 {
  color: #423f37;
  font-weight: normal;
}

h1 {
  font-size: 1.875em;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p, ul {
  margin: 1em 0;
}

pre code {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.875em;
  overflow: scroll;
}

strong {
  color: #423f37;
  font-weight: bold;
}

a {
  color: #06a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */

#wrapper {
  max-width: 50em;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #ddd;
  position: relative;
}

header img {
  border-radius: 4em;
  display: block;
  height: 8em;
  width: 8em;
  margin: 0 auto;
}

header.compact {
  margin: 0;
  padding: 0 0 0 4em;
  min-height: 3.5em;
}

header.compact img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.5em;
  width: 3em;
  height: 3em;
}

header.compact h2 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0.2em 0 0 0;
}

header.compact p {
  font-size: 0.875em;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0 0 0;
}

article {
  max-width: 36.25em;
  margin: 0 auto;
}

article h1 + p {
  margin: 0 0 1.5em 0;
}

article time {
  color: #999;
}

/* Responsive */

/* Layout */

@media all and (min-width: 40em) {
  header {
    padding: 0.2em 0 2em 10em;
    margin-top: 3em;
  }

  header img {
    position: absolute;
    top: 0;
    left: 0;
  }

  section {
    float: right;
    width: 48%;
  }

  section:first-of-type {
    float: left;
  }
}

/* Embedded videos */

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Images */

img {
  width: 100%;
  height: auto;
}
