/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  border-top: solid 6px #333;
  color: #1a1a1a;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}
ol, ul {
  list-style-position: inside;
}
li {
  margin: 0.5em 0;
}

#wrapper {
  margin: 60px auto;
  width: 960px;
}

#aside {
  color: #4d4d4d;
  float: left;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  width: 240px;
}

#aside ul {
  list-style-type: none;
  text-align: left;
}

#aside ul img {
  vertical-align: middle;
}

#aside span {
  background: #333;
  color: #fff;
  display: block;
  float: right;
  padding: 0.2em;
  text-align: center;
  width: 3em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#aside #statuses_count {
  display: none;
}

#tweet {
  background: url('/images/bubble.png') top left no-repeat;
  margin-top: -1em;
  padding-top: 8px;
}

#tweet p {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0.2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#aside h2 {
  font-size: 36px;
}

#content {
  float: left;
  margin-left: 40px;
  width: 680px;
}

p, ul, pre {
  margin: 1em 0;
}

h1 {
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

a {
  color: #0071bc;
  text-decoration: none;
  white-space: nowrap;
}

h2 a {
  color: #1a1a1a;
}

h2 a:hover {
  color: #0071bc;
}

#content p img {
  -moz-box-shadow: 0 0 20px #4d4d4d;
  -webkit-box-shadow: 0 0 20px #4d4d4d;
  box-shadow: 0 0 20px #4d4d4d;
}

#content p img.right {
  float: right;
  margin: 0 0 1em 1em;
}

.meta_data {
  border-bottom: solid 1px #ccc;
  clear: both;
  padding-bottom: 1.5em;
}

.meta_data li {
  color: #4d4d4d;
  display: inline;
  font-family: Helvetica;
  font-size: 14px;
  margin-right: 10px;
}

.meta_data img {
  vertical-align: bottom;
}

pre {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  overflow: auto;
  padding: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.keywords {
  color: #96cbfe;
}
.string {
  color: #b4fb73;
}
.symbol {
  color: #a8d489;
}
.comment {
  color: #7c7c7c;
  font-style: italic;
}
.variables {
  color: #d1d1fe;
}

input {
  background: #f2f2f2;
  border: solid 2px #ccc;
  color: #4d4d4d;
  font-family: Helvetica;
  font-size: 14px;
  padding: 0.3em;
  width: 230px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

