<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}

    {% unless page.url == '/' %}
      <footer>
        <nav>
          <a href="/">Gå till hemsidan</a>, <a href="/projekt">utforska mina projekt</a> eller <a href="/skriverier">bläddra bland skriverier</a>.
        </nav>
        <p>
          Vill du kontakta mig? Skicka ett e-brev till <a href="mailto:sven@dahlstrand.net">sven@dahlstrand.net</a>.
        </p>
      </footer>
    {% endunless %}

    <script>
      // Enable hover pseudo class on iOS devices.
      document.addEventListener('touchstart', function () {});
    </script>
  </body>
</html>
