<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="referrer" content="no-referrer">

    {% if page.sitemap == false %}
      <meta name="robots" content="noindex" />
    {% endif %}

    {% for language in site.languages %}
      {% assign url = page[language] %}

      {% if url %}
        <link rel="alternate" hreflang="{{ language }}" href="{{ url }}" />
      {% endif %}
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">

    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}

    <footer>
      <nav>
        <a href="{% t home_path %}">{% t go_home %}</a>, <a href="{% t projects_path %}">{% t discover_projects %}</a> {% t or %} <a href="{% t writing_path %}">{% t thumb_through_writing %}</a>.
      </nav>

      <form method="post" action="https://s3arch.eu" class="search-form">
        <label for="query" class="hidden">{% t search_terms %}</label>
        <input id="query" name="q" placeholder="{% t search_site %}" class="search-field" value="site:svendahlstrand.se " />
        <input type="hidden" name="language" value="{% t search_language %}" />

        <button class="search-button">{% t search %}</button>
      </form>
    </footer>

    <script>
      (function () {
        // Enable hover pseudo class on iOS devices.
        document.addEventListener('touchstart', function () {});

        // Handle search form submission.
        var form = document.querySelector('.search-form');
        var queryInput = document.getElementById('query');
        var originalQuery = queryInput.value.trim();
        var clonedForm = form.cloneNode(true);

        queryInput.value = '';

        form.addEventListener('submit', function (event) {
          var completeQuery = [originalQuery, queryInput.value].join(' ');

          clonedForm.querySelector('#query').value = completeQuery;
          clonedForm.submit();

          event.preventDefault();
        });
      }());
    </script>
  </body>
</html>
