---
layout: default
---

<header class="compact">
  <img src="/images/sven-gravatar.jpg" alt="" width="48" height="48" />
  <h2>Hej! Detta är någon slags början till en personlig wiki.</h2>
  <p><a href="/wiki">Alla sidor</a>, <a href="https://github.com/svendahlstrand/svendahlstrand.github.io/edit/master/{{ page.relative_path }}">Redigera</a>, <a href="https://github.com/svendahlstrand/svendahlstrand.github.io/new/master/_wiki">Ny sida</a></p>
</header>
<article>
  <h1>{{ page.title }}</h1>
  <p><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{% include localized-date.liquid %}</time></p>
  {{ content }}
</article>
